{{! template-lint-disable no-bare-strings no-implicit-this }}

<div class="modal fade" data-toggle="modal">
  <div class="modal-dialog modal-dialog-centered {{if isSmall "modal-sm"}} {{if isLarge "modal-lg"}}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{title}}
        </h5>

        <button type="button" class="close text-white" data-dismiss="modal">
          {{fa-icon "times"}}
        </button>
      </div>

      <div class="modal-body">
        {{yield}}
      </div>
    </div>
  </div>
</div>
