{{! template-lint-disable no-bare-strings no-implicit-this }}

<div class="form-group">
  {{#if label}}
    <label for={{id}}>{{label}}</label>
  {{/if}}

  <label
    for={{id}}
    class="form-control py-0 d-flex align-items-center"
    local-class="label-wrapper"
  >
    {{#each tags as |tag|}}
      <button
        type="button"
        class="btn btn-primary btn-sm py-1 mr-1"
        {{action remove tag}}
      >
        {{tag}}
        {{fa-icon "times" class="ml-1"}}
      </button>
    {{/each}}

    <input
      type="text"
      id={{id}}
      placeholder={{placeholder}}
      value={{newTag}}
      local-class="input"
      oninput={{action newTagInputChange}}
      onkeydown={{action newTagInputKeydown}}
      onblur={{action newTagInputBlur}}
    >
  </label>
</div>
