{{#if this.trades}}
  {{pow-input-field
    class="pb-2"
    placeholder=(t "components.trade.list.search_placeholder")
    helper=(t "components.trade.list.search_helper")
    value=this.searchValue
    onChange=(action (mut this.searchValue))
  }}

  <ul class="list-unstyled">
    {{#each this.filteredTrades as |trade|}}
      <li
        local-class="filters-item"
        class="py-1"
        {{action @onSelect trade}}
      >
        {{#if trade.label}}
          <h5 class="mb-0">
            {{trade.label}}
          </h5>
        {{/if}}

        {{#if trade.tags}}
          <div class="d-flex flex-wrap mt-1">
            {{#each trade.tags as |tag|}}
              <span class="badge badge-primary badge-pill text-capitalize mr-1 mb-1">
                {{tag}}
              </span>
            {{/each}}
          </div>
        {{/if}}

        <small>
          {{t "components.trade.list.updated_at" timeAgo=(format-relative trade.updatedAt)}}
        </small>
      </li>
    {{else}}
      <li>
        <div class="alert alert-warning">
          {{t "components.trade.list.empty_search_result_message"}}
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="alert alert-light">
    {{t "components.trade.list.no_trade_message"}}
  </div>
{{/if}}


