<h1 class="settings-vendor-recipe-page__title">
  {{t 'components.page.settings_vendor_recipe_page.title'}}
</h1>

{{#pow-electron-container}}
  {{#pow-task-load-container task=stashTabsLoadTask}}
    <ul class="settings-vendor-recipe-page__stashes">
      {{#each stashes as |stash|}}
        <li
          class="fade-card settings-vendor-recipe-page__stashes-card {{if stash.isDisabled 'fade-card--error settings-vendor-recipe-page__stashes-card--disabled' (if stash.isSelected 'fade-card--success')}}"
          {{action toggleStash stash}}
        >
          <div class="settings-vendor-recipe-page__stashes-card-name">
            <div class="settings-vendor-recipe-page__stashes-card-name-color" style={{css-style 'background-color' stash.color}}></div>
            {{stash.name}}
          </div>

          <div class="settings-vendor-recipe-page__stashes-card-type">{{stash.type}}</div>

          {{#unless stash.isDisabled}}
            {{fa-icon (if stash.isSelected 'check-square' 'square') class='settings-vendor-recipe-page__stashes-card-check'}}
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  {{/pow-task-load-container}}
{{/pow-electron-container}}
