<h1 class="settings-vendor-recipe-page__title">
  {{t 'components.page.settings_vendor_recipe_page.title'}}
</h1>

{{#pow-electron-container}}
  {{#pow-task-load-container task=stashTabsLoadTask}}
    <table class="rich-table">
      <tr>
        <th class="rich-table__head-row-cell">
          {{t 'components.page.settings_vendor_recipe_page.stash_name'}}
        </th>
        <th class="rich-table__head-row-cell">
          {{t 'components.page.settings_vendor_recipe_page.stash_type'}}
        </th>
        <th class="rich-table__head-row-cell rich-table__head-row-cell--centered">
          {{t 'components.page.settings_vendor_recipe_page.vendor_recipe'}}
        </th>
      </tr>

      {{#each stashes as |stash|}}
        <tr class="rich-table__body-row settings-vendor-recipe-page__stash--disabled">
          <td class="rich-table__body-row-cell">
            <div class="settings-vendor-recipe-page__stash-color" style={{css-style 'background-color' stash.color}}></div>
            {{stash.name}}
          </td>
          <td class="rich-table__body-row-cell">
            {{stash.type}}
          </td>
          <td class="rich-table__body-row-cell rich-table__body-row-cell--button" {{action toggleStash stash}}>
            {{#unless stash.isDisabled}}
              {{fa-icon (if stash.isSelected 'check-square' 'square')}}
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </table>
  {{/pow-task-load-container}}
{{/pow-electron-container}}
