<div class="container-fluid">
  <h2>{{t 'components.page.settings_vendor_recipe_page.title'}}</h2>

  {{#pow-electron-container}}
    {{#pow-task-load-container task=stashTabsLoadTask}}
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>{{t 'components.page.settings_vendor_recipe_page.stash_name'}}</th>
          <th>{{t 'components.page.settings_vendor_recipe_page.stash_type'}}</th>
          <th>{{t 'components.page.settings_vendor_recipe_page.vendor_recipe'}}</th>
        </tr>
        </thead>

        <tbody>
        {{#each stashes as |stash|}}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div local-class="stash-color" class="d-block" style={{css-style 'background-color' stash.color}}></div>
                <span class="ml-2">{{stash.name}}</span>
              </div>
            </td>
            <td>
              {{stash.type}}
            </td>
            <td>
              {{#unless stash.isDisabled}}
                <div class="custom-control custom-checkbox" {{action toggleStash stash}}>
                  <input id="vendor-{{stash.id}}" type="checkbox" class="custom-control-input" checked={{stash.isIncluded}}>
                  <label class="custom-control-label" for="vendor-{{stash.id}}">
                    {{t (if stash.isIncluded 'components.page.settings_vendor_recipe_page.included' 'components.page.settings_vendor_recipe_page.excluded')}}
                  </label>
                </div>
              {{else}}
                <span class="text-white-50">
                  {{t 'components.page.settings_vendor_recipe_page.not_supported'}}
                </span>
              {{/unless}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/pow-task-load-container}}
  {{/pow-electron-container}}
</div>