<div class="container-fluid">
  <h2>{{t 'components.page.settings_vendor_recipe_page.title'}}</h2>

  {{#pow-electron-container}}
    {{#pow-task-load-container task=stashTabsLoadTask}}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{t 'components.page.settings_vendor_recipe_page.stash_name'}}</th>
          <th>{{t 'components.page.settings_vendor_recipe_page.stash_type'}}</th>
          <th>{{t 'components.page.settings_vendor_recipe_page.vendor_recipe'}}</th>
        </tr>
        </thead>

        <tbody>
        {{#each stashes as |stash|}}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="stash-color d-block" style={{css-style 'background-color' stash.color}}></div>
                <span class="ml-2">{{stash.name}}</span>
              </div>
            </td>
            <td>
              {{stash.type}}
            </td>
            <td>
              {{#unless stash.isDisabled}}
                <button type="button" class="btn btn-{{if stash.isSelected 'danger' 'primary'}} btn-sm" {{action toggleStash stash}}>
                  {{#if stash.isSelected}}
                    {{fa-icon 'minus' class='mr-1'}}
                    {{t 'components.page.settings_vendor_recipe_page.exclude'}}
                  {{else}}
                    {{fa-icon 'plus' class='mr-1'}}
                    {{t 'components.page.settings_vendor_recipe_page.include'}}
                  {{/if}}
                </button>
              {{else}}
                <span class="text-white-50">
                  {{t 'components.page.settings_vendor_recipe_page.not_supported'}}
                </span>
              {{/unless}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/pow-task-load-container}}
  {{/pow-electron-container}}
</div>