<div class="d-flex w-100 h-100">
  <div class="position-relative flex-grow-1 flex-shrink-1">
    <div local-class="top-toolbar" class="pt-1 pb-2 px-2 d-flex justify-content-end align-items-center bg-dark">
      <button class="btn btn-light mr-1" {{action this.reloadWebview}}>
        {{fa-icon "sync" class="mr-1"}}
        {{t "components.page.trade_page.reload"}}
      </button>

      {{#if this.canCreate}}
        <button
          class="btn btn-primary mr-1"
          {{action this.create}}
        >
          {{fa-icon "bookmark" class="mr-1"}}
          {{t "components.page.trade_page.create"}}
        </button>
      {{/if}}

      <button
        class="btn btn-danger"
        {{action this.clearAll}}
      >
        {{fa-icon "times" class="mr-1"}}
        {{t "components.page.trade_page.clear"}}
      </button>
    </div>

    {{electron-webview
      class="h-100"
      url=this.defaultTradeUrl
      onUrlChange=(action this.tradeUrlUpdate)
      onReady=(action this.electronWebviewReady)
    }}
  </div>

  <div local-class="side-panel" class="py-1 px-2">
    {{#if this.currentTrade}}
      {{pow-trade/details
        currentTradeSlug=this.currentTradeSlug
        trade=this.currentTrade
        onClose=(action this.clearCurrentTrade)
        onSlugReset=(action this.resetCurrentSlug)
      }}
    {{else}}
      {{pow-trade/list
        onSelect=(action this.select)
      }}
    {{/if}}
  </div>
</div>
