<h1 class="settings-index-page__title">
  {{t 'components.page.settings_index_page.leagues_title'}}
</h1>

{{#pow-task-load-container task=leaguesLoadTask}}
  <ul class="settings-index-page__leagues">
    {{#each leagues as |league|}}
      <li {{action applyLeague league}} class="settings-index-page__leagues-item">
        {{#if (eq league.slug currentLeagueSlug)}}
          {{fa-icon 'check'}}
        {{/if}}

        {{league.name}}
      </li>
    {{/each}}
  </ul>
{{/pow-task-load-container}}

<h1 class="settings-index-page__title">
  {{t 'components.page.settings_index_page.session_id_title'}}
</h1>

<div class="settings-index-page__input-wrapper">
  <input type="text" class="settings-index-page__input" value={{currentSessionId}} oninput={{action applySessionId}}>

  {{#if isSessionIdConfirmed}}
    {{fa-icon 'check' class='settings-index-page__input-check'}}
  {{/if}}
</div>
