<h1 class="settings-index-page__title">
  {{t 'components.page.settings_index_page.leagues_title'}}
</h1>

{{#pow-task-load-container task=leaguesLoadTask}}
  <ul class="settings-index-page__leagues">
    {{#each leagues as |league|}}
      <li {{action applyLeague league}} class="settings-index-page__leagues-item">
        {{#if (eq league.slug currentLeagueSlug)}}
          {{fa-icon 'check'}}
        {{/if}}

        {{league.name}}
      </li>
    {{/each}}
  </ul>
{{/pow-task-load-container}}

<h1 class="settings-index-page__title">
  {{t 'components.page.settings_index_page.authentication_title'}}
</h1>

<div class="settings-index-page__authentication-section">
  {{pow-input-field
    label=(t 'components.page.settings_index_page.account_label')
    value=currentAccount
    onChange=(action applyAccount)}}

  {{pow-input-field
    label=(t 'components.page.settings_index_page.poesessid_label')
    value=currentPoesessid
    onChange=(action applyPoesessid)}}

  {{#pow-task-load-container task=testAuthenticationTask}}
    <div class="settings-index-page__authentication-section-test">
      {{#if isAuthenticated}}
        {{fa-icon 'check'}} {{t 'components.page.settings_index_page.authenticated'}}
      {{else}}
        {{fa-icon 'times'}} {{t 'components.page.settings_index_page.not_authenticated'}}
      {{/if}}
    </div>
  {{/pow-task-load-container}}
</div>
