<div class="container-fluid pb-2">
  <h2>{{t "components.page.settings_global_page.leagues_title"}}</h2>

  {{#pow-task-load-container task=this.leaguesLoadTask}}
    <div class="btn-group">
      {{#each this.leagues as |league|}}
        <button type="button" class="btn btn-primary" {{action this.applyLeague league}}>
          {{#if (eq league.slug this.currentLeagueSlug)}}
            {{fa-icon "check"}}
          {{/if}}

          {{league.name}}
        </button>
      {{/each}}
    </div>
  {{/pow-task-load-container}}

  <h2 class="mt-4">
    {{t "components.page.settings_global_page.authentication_title"}}
  </h2>

  {{#pow-desktop-container}}
    <div class="form-group w-50">
      {{pow-input-field
        class="form-group"
        label=(t "components.page.settings_global_page.account_label")
        value=this.currentAccount
        onChange=(action this.applyAccount)
      }}

      {{pow-input-field
        class="form-group"
        label=(t "components.page.settings_global_page.poesessid_label")
        value=this.currentPoesessid
        onChange=(action this.applyPoesessid)
      }}

      <p>
        {{#if this.testAuthenticationTask.isRunning}}
          {{fa-icon "spinner" spin=true}}
        {{else}}
          {{#if this.isAuthenticated}}
            {{fa-icon "check"}} {{t "components.page.settings_global_page.authenticated"}}
          {{else}}
            {{fa-icon "times"}} {{t "components.page.settings_global_page.not_authenticated"}}
          {{/if}}
        {{/if}}
      </p>
    </div>

    <div class="card border-danger mt-4 w-50">
      <div class="card-body">
        <h5 class="card-title">
          {{t "components.page.settings_global_page.danger_title"}}
        </h5>
        <div class="pt-2">
          <button type="button" class="btn btn-danger" {{action this.openDevTools}}>
            {{t "components.page.settings_global_page.open_dev_tools"}}
          </button>
        </div>
      </div>
    </div>
  {{/pow-desktop-container}}
</div>


