<div class="container-fluid pb-2">
  <h2>{{t 'components.page.settings_global_page.leagues_title'}}</h2>

  {{#pow-task-load-container task=leaguesLoadTask}}
    <div class="btn-group">
      {{#each leagues as |league|}}
        <button type="button" class="btn btn-primary" {{action applyLeague league}}>
          {{#if (eq league.slug currentLeagueSlug)}}
            {{fa-icon 'check'}}
          {{/if}}

          {{league.name}}
        </button>
      {{/each}}
    </div>
  {{/pow-task-load-container}}

  <h2 class="mt-4">
    {{t 'components.page.settings_global_page.authentication_title'}}
  </h2>

  {{#pow-desktop-container}}
    <div class="form-group w-50">
      {{pow-input-field
        label=(t 'components.page.settings_global_page.account_label')
        value=currentAccount
        onChange=(action applyAccount)}}

      {{#pow-input-field
        label=(t 'components.page.settings_global_page.poesessid_label')
        value=currentPoesessid
        onChange=(action applyPoesessid)}}
      {{/pow-input-field}}

      <p>
        {{#if testAuthenticationTask.isRunning}}
            {{fa-icon 'spinner' spin=true}}
        {{else}}
          {{#if isAuthenticated}}
            {{fa-icon 'check'}} {{t 'components.page.settings_global_page.authenticated'}}
          {{else}}
            {{fa-icon 'times'}} {{t 'components.page.settings_global_page.not_authenticated'}}
          {{/if}}
        {{/if}}
      </p>
    </div>

    <div class="card border-danger mt-4 w-50">
      <div class="card-body">
        <h5 class="card-title">
          {{t "components.page.settings_global_page.danger_title"}}
        </h5>
        <div class="pt-2">
          <button type="button" class="btn btn-danger" {{action openDevTools}}>
            {{t "components.page.settings_global_page.open_dev_tools"}}
          </button>
        </div>
      </div>
    </div>
  {{/pow-desktop-container}}
</div>


