<div class="form-group">
  {{#if @label}}
    <label for={{this.id}}>
      {{@label}}
    </label>
  {{/if}}

  {{#if this.isTextarea}}
    <textarea
      id={{this.id}}
      placeholder={{@placeholder}}
      class="form-control"
      local-class="textarea"
      value={{@value}}
      rows={{@rows}}
      oninput={{action this.inputChange}}
      onfocus={{action @onFocus}}
      onblur={{action @onBlur}}
      onkeyup={{action this.inputKeyUp}}
    ></textarea>
  {{else}}
    <input
      type={{@type}}
      id={{this.id}}
      placeholder={{@placeholder}}
      class="form-control"
      value={{@value}}
      oninput={{action this.inputChange}}
      onfocus={{action @onFocus}}
      onblur={{action @onBlur}}
      onkeyup={{action this.inputKeyUp}}
    >
  {{/if}}

  {{#if @helper}}
    <small class="form-text text-white">
      {{fa-icon "info-circle"}}
      {{@helper}}
    </small>
  {{/if}}

  {{yield}}
</div>
