{{! template-lint-disable no-bare-strings no-implicit-this }}

<div class="form-group">
  {{#if label}}
    <label for={{id}}>
      {{label}}
    </label>
  {{/if}}

  {{#if isTextarea}}
    <textarea
      id={{id}}
      placeholder={{placeholder}}
      class="form-control"
      local-class="textarea"
      value={{value}}
      rows={{rows}}
      oninput={{action inputChange}}
    ></textarea>
  {{else}}
    <input
      type={{type}}
      id={{id}}
      placeholder={{placeholder}}
      class="form-control"
      value={{value}}
      oninput={{action inputChange}}
    >
  {{/if}}

  {{#if helper}}
    <small class="form-text text-white">
      {{fa-icon "info-circle"}}
      {{helper}}
    </small>
  {{/if}}

  {{yield}}
</div>
