{{#if map.drops}}
  <h1 class="map-information-page__title">
    {{t 'components.page.map_information_page.drops_title'}}
  </h1>

  <ul class="map-information-page__drops">
    {{#each map.drops as |drop|}}
      <li class="map-information-page__drops-item">
        {{#if drop.wikiUrl}}
          {{#pow-external-link url=drop.wikiUrl class="map-information-page__drops-item-link"}}
            {{drop.name}}
          {{/pow-external-link}}
        {{else}}
          {{drop.name}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if map.layoutRating}}
  <h1 class="map-information-page__title">
    {{t 'components.page.map_information_page.layout_title'}}
  </h1>

  <div class="map-information-page__layout">
    <div class="map-information-page__layout-rating">
      {{map.layoutRating}}
    </div>

    <div class="map-information-page__layout-description">
      {{t layoutRatingDescriptionKey}}
    </div>
  </div>
{{/if}}

{{#if map.bossRating}}
  <h1 class="map-information-page__title">
    {{t 'components.page.map_information_page.boss_title'}}
  </h1>

  <div class="map-information-page__boss">
    {{map.bossRating}} / 5
  </div>
{{/if}}
