<div class="atlas-popover__header">
  <div class="atlas-popover__header-title">
    {{map.name}}
  </div>
</div>

<div class="atlas-popover__body">
  {{t 'components.atlas.popover.tier'}}: {{map.tier}}
  -
  {{t 'components.atlas.popover.area_level'}}: {{map.areaLevel}}
</div>