<li
  local-class="map"
  style={{css-offset @map.offsetLeft @map.offsetTop}}
  {{action @onMapClick @map on="click"}}
>
  {{#pow-popover title=@map.name class="w-100 h-100"}}
    <img
      local-class="image"
      src={{@map.imageUrl}}
      alt={{@map.name}}
    >

    <div popover-content>
      <p class="my-0">
        {{t "components.atlas.popover_tier" tier=@map.tier}}
      </p>
      <p class="mt-1 mb-0">
        {{t "components.atlas.popover_area_level" areaLevel=@map.areaLevel}}
      </p>

      {{#if @map.pantheon}}
        <p local-class="pantheon-color" class="mt-1 mb-0">
          {{t "components.atlas.popover_pantheon" pantheon=@map.pantheon.god}}
        </p>
      {{/if}}
    </div>
  {{/pow-popover}}

  {{#if this.isActive}}
    <div local-class="active-indicator"></div>
  {{/if}}

  {{#if @map.pantheon}}
    <img local-class="pantheon-indicator" src="assets/images/pantheon.png">
  {{/if}}
</li>
