<div class="d-flex mb-2">
  <button class="btn btn-light mr-1" {{action @onClose}}>
    {{fa-icon "times"}}
  </button>

  {{#if this.isEditing}}
    <button
      class="btn btn-primary mr-1"
      disabled={{this.cantSave}}
      {{action this.persistEdit}}
    >
      {{fa-icon "save" class="mr-1"}}
      {{t "components.trade.details.save"}}
    </button>

    {{#unless this.isNew}}
      <button class="btn btn-primary" {{action this.cancelEdit}}>
        {{fa-icon "undo" class="mr-1"}}
        {{t "components.trade.details.cancel"}}
      </button>
    {{/unless}}
  {{else}}
    <button class="btn btn-primary" {{action this.initializeEdit}}>
      {{fa-icon "edit" class="mr-1"}}
      {{t "components.trade.details.edit"}}
    </button>
  {{/if}}

  {{#unless this.isNew}}
    <button class="btn btn-danger ml-auto" {{action this.delete}}>
      {{fa-icon "trash" class="mr-1"}}
      {{t "components.trade.details.delete"}}
    </button>
  {{/unless}}
</div>

{{#if this.isEditing}}
  {{pow-input-field
    class="form-group"
    placeholder=(t "components.trade.details.label_placeholder")
    value=this.stagedValues.label
    onChange=(action (mut this.stagedValues.label))
  }}

  {{pow-tags-field
    class="form-group"
    placeholder=(t "components.trade.details.tags_placeholder")
    tags=this.stagedValues.tags
  }}

  <h5 class="mt-2 mb-1">
    {{fa-icon "file-alt"}}
    {{t "components.trade.details.notes"}}
  </h5>

  {{pow-input-field
    class="form-group"
    type="textarea"
    placeholder=(t "components.trade.details.notes_placeholder")
    value=this.stagedValues.notes
    onChange=(action (mut this.stagedValues.notes))
  }}
{{else}}
  {{#if this.isSlugDirty}}
    <div class="alert alert-warning">
      {{t "components.trade.details.slug_dirty_message"}}

      <div class="mt-2">
        <button class="btn btn-primary" {{action this.persistSlug}}>
          {{fa-icon "save" class="mr-1"}}
          {{t "components.trade.details.save"}}
        </button>

        <button class="btn btn-primary" {{action @onSlugReset}}>
          {{fa-icon "undo" class="mr-1"}}
          {{t "components.trade.details.revert"}}
        </button>
      </div>
    </div>
  {{/if}}

  {{#if @trade.label}}
    <h3>
      {{@trade.label}}
    </h3>
  {{/if}}

  {{#if @trade.tags}}
    <h5 class="d-flex flex-wrap mt-1">
      {{#each @trade.tags as |tag|}}
        <div class="badge badge-primary badge-pill text-capitalize mr-1 mb-1">
          {{tag}}
        </div>
      {{/each}}
    </h5>
  {{/if}}

  {{#if @trade.notes}}
    <h5 class="mt-2 mb-1">
      {{fa-icon "file-alt"}}
      {{t "components.trade.details.notes"}}
    </h5>

    {{textarea-value @trade.notes}}
  {{/if}}
{{/if}}
