<button class="btn btn-primary" disabled={{isCopied}} {{action copy}}>
  {{#if isCopied}}
    {{fa-icon 'check' class='mr-1'}}
    {{t 'components.clipboard_button.copied'}}
  {{else}}
    {{fa-icon 'copy' class='mr-1'}}
    {{t 'components.clipboard_button.copy'}}
  {{/if}}
</button>

<div class="hidden-field-wrapper">
  {{input value=value class='hidden-field'}}
</div>

