{{#pow-modal
  isOpened=isOpened
  onClose=(action onClose)
  title=(t 'components.changelog_modal.title')
  size='large'
}}
  <div class={{styleNamespace}}>
    {{#if nextRelease}}
      <div class="alert alert-warning">
        <h4>
          {{t 'components.changelog_modal.download_title'}}
        </h4>

        {{t 'components.changelog_modal.download_warning'}}
      </div>
    {{/if}}

    {{markdown-to-html changelogMarkdown local-class='markdown'}}

    {{#if nextRelease}}
      <div class="mt-2">
        {{#pow-external-link url=nextRelease.windowsDownloadUrl class='btn btn-primary'}}
          {{fa-icon 'download'}} {{t 'components.changelog_modal.download_button'}}
        {{/pow-external-link}}

        {{#pow-external-link url=nextRelease.githubReleaseUrl class='btn btn-primary ml-1'}}
          {{fa-icon 'github' prefix='fab'}} {{t 'components.changelog_modal.see_on_github'}}
        {{/pow-external-link}}
      </div>
    {{/if}}
  </div>
{{/pow-modal}}
