<div class="d-inline-flex align-items-center">
  {{#unless loadCurrencyTask.isRunning}}
    <span class="mr-1">
      {{roundedAmount}}
    </span>

    {{fa-icon 'times' }}

    {{#if currency}}
      <img src={{currency.imageUrl}} local-class="image" class="ml-1">
    {{else}}
      {{currencyId}}
    {{/if}}
  {{/unless}}
</div>