<div class="d-inline-flex align-items-center">
  {{#unless loadCurrencyTask.isRunning}}
    <span class="amount mr-1">
      {{amount}}
    </span>

    {{fa-icon 'times'}}

    {{#if currency}}
      <img src={{currency.imageUrl}} class="image">
    {{else}}
      {{currencyId}}
    {{/if}}
  {{/unless}}
</div>