<div class="navigation__left-section">
  <img src="assets/images/logo-small.png" alt="Logo" class="navigation__left-section-logo">

  <div class="navigation__left-section-brand">PoeWorld</div>

  <ul class="navigation__menu">
    <li class="navigation__menu-link-wrapper">
      {{#pow-link 'atlas' class='navigation__menu-link'}}
        {{t 'components.navigation.atlas'}}
      {{/pow-link}}
    </li>

    <li class="navigation__menu-link-wrapper">
      {{#pow-link 'stash' class='navigation__menu-link'}}
        {{t 'components.navigation.stash'}}

        <ul class="navigation__submenu">
          <li class="navigation__submenu-link-wrapper">
            {{#pow-link 'stash.vendor-recipe' class='navigation__submenu-link'}}
              {{t 'components.navigation.vendor_recipe'}}
            {{/pow-link}}
          </li>
        </ul>
      {{/pow-link}}
    </li>
  </ul>
</div>

<div class="navigation__right-section">
  <div class="navigation__right-section-league">
    {{leagueName}}
  </div>

  <ul class="navigation__menu">
    <li class="navigation__menu-link-wrapper">
      {{#pow-link 'settings' class='navigation__menu-link'}}
        {{t 'components.navigation.settings'}}
      {{/pow-link}}
    </li>
  </ul>
</div>