<div class="map-page__header">
  <button class="map-page__back" {{action back}}>
    {{fa-icon 'times'}}
  </button>

  <div class="map-page__header-title">
    {{map.name}}

    <img src={{map.imageUrl}} class="map-page__header-title-image" alt={{map.name}}>
  </div>

  <div class="map-page__header-subtitle">
    <div class="map-page__header-subtitle-tier map-page__header-subtitle-tier--{{map.tierColor}}">
      {{t 'components.page.map_page.tier'}}

      <div class="map-page__header-subtitle-tier-value">
        {{map.tier}}
      </div>
    </div>

    <div class="map-page__header-subtitle-area-level">
      {{t 'components.page.map_page.area_level'}} {{map.areaLevel}}
    </div>
  </div>
</div>

<nav class="map-page__nav">
  {{#link-to 'atlas.map.information' class='map-page__nav-link'}}
    {{fa-icon 'info'}}

    <span class="map-page__nav-link-label">
      {{t 'components.page.map_page.information'}}
    </span>
  {{/link-to}}

  {{#link-to 'atlas.map.trade' class='map-page__nav-link'}}
    {{fa-icon 'balance-scale'}}

    <span class="map-page__nav-link-label">
      {{t 'components.page.map_page.trade'}}
    </span>
  {{/link-to}}

  {{!--
  {{#link-to 'atlas.map.friends' class='map-page__nav-link'}}
    {{t 'components.page.map_page.friends'}}
  {{/link-to}}

  {{#link-to 'atlas.map.stash' class='map-page__nav-link'}}
    {{t 'components.page.map_page.stash'}}
  {{/link-to}}

  {{#link-to 'atlas.map.stats' class='map-page__nav-link'}}
    {{t 'components.page.map_page.stats'}}
  {{/link-to}}
  --}}
</nav>

{{yield}}