<div class="container-fluid pt-2">
  {{#pow-task-load-container task=vendorRecipeInitialLoadTask}}
    {{#unless hasVendorRecipeStashes}}
      <div class="alert alert-warning d-flex align-items-center">
        {{t 'components.page.vendor_recipe_page.missing_stashes_selection'}}

        {{#pow-link 'settings.vendor-recipe' class='btn btn-primary ml-2'}}
          {{fa-icon 'wrench' class='mr-1'}} {{t 'components.page.vendor_recipe_page.missing_stashes_button'}}
        {{/pow-link}}
      </div>
    {{/unless}}

    {{pow-task-load-bar task=vendorRecipeLoadTask}}

    <div class="row">
      <div class="col-4">
        <h3>{{t 'components.page.vendor_recipe_page.chromatic_title'}}</h3>

        <div class="card">
          <div class="card-body">
            <span class="quantity mr-1">
              {{chromaticRecipe.recipeCount}}
            </span>
            {{fa-icon 'times'}}
            <img src={{chromaticImageUrl}} alt="chrom" class="currency-icon ml-1">

            <span class="badge badge-dark p-2 ml-2">
              {{t 'components.page.vendor_recipe_page.item_count' count=chromaticRecipe.itemCount}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h3>{{t 'components.page.vendor_recipe_page.jeweller_title'}}</h3>

        <div class="card">
          <div class="card-body">
            <span class="quantity mr-1">
              {{jewellerRecipe.recipeCount}}
            </span>
            {{fa-icon 'times'}}
            <img src={{jewellerImageUrl}} alt="jew" class="currency-icon ml-1">

            <span class="badge badge-dark p-2 ml-2">
              {{t 'components.page.vendor_recipe_page.item_count' count=jewellerRecipe.itemCount}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h3>{{t 'components.page.vendor_recipe_page.divine_title'}}</h3>

        <div class="card">
          <div class="card-body">
            <span class="quantity mr-1">
              {{divineRecipe.recipeCount}}
            </span>
            {{fa-icon 'times'}}
            <img src={{divineImageUrl}} alt="divine" class="currency-icon ml-1">

            <span class="badge badge-dark p-2 ml-2">
              {{t 'components.page.vendor_recipe_page.item_count' count=divineRecipe.itemCount}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-4">
      {{t 'components.page.vendor_recipe_page.chaos_title'}}
    </h3>

    <div class="row">
      <div class="col-4">
        <div class="card {{if chaosRecipe.hands.isError 'bg-danger' (if chaosRecipe.hands.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.hand'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.hands.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.belt.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.belt.itemRegalCount}}
              </span>
            </div>

            <div class="d-flex align-items-center mt-3">
              <h6>{{t 'components.page.vendor_recipe_page.two_handed'}}</h6>

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.hands.twoHanded.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.hands.twoHanded.itemRegalCount}}
              </span>
            </div>

            <div class="d-flex align-items-center mt-3">
              <h6>{{t 'components.page.vendor_recipe_page.one_handed'}}</h6>

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.hands.oneHanded.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.hands.oneHanded.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>

        <div class="mt-2 card {{if chaosRecipe.gloves.isError 'bg-danger' (if chaosRecipe.gloves.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.gloves'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.gloves.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.gloves.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.gloves.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card {{if chaosRecipe.helmet.isError 'bg-danger' (if chaosRecipe.helmet.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.helmet'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.helmet.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.helmet.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.helmet.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>

        <div class="mt-2 card {{if chaosRecipe.chest.isError 'bg-danger' (if chaosRecipe.chest.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.chest'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.chest.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.chest.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.chest.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>

        <div class="mt-2 card {{if chaosRecipe.belt.isError 'bg-danger' (if chaosRecipe.belt.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.belt'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.belt.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.belt.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.belt.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card {{if chaosRecipe.amulet.isError 'bg-danger' (if chaosRecipe.amulet.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.amulet'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.amulet.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.amulet.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.amulet.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>

        <div class="mt-2 card {{if chaosRecipe.ring.isError 'bg-danger' (if chaosRecipe.ring.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.ring'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.ring.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.ring.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.ring.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>

        <div class="mt-2 card {{if chaosRecipe.boots.isError 'bg-danger' (if chaosRecipe.boots.isWarning 'bg-warning')}}">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.boots'}}
            </h5>

            <div class="d-flex align-items-center">
              <span class="quantity mr-1">
                {{chaosRecipe.boots.recipeCount}}
              </span>
              {{fa-icon 'times'}}
              <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">

              <span class="badge badge-dark px-1 ml-2">
                <img src={{chaosImageUrl}} alt="chaos" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.boots.itemChaosCount}}
              </span>
              <span class="badge badge-dark px-1 ml-1">
                <img src={{regalImageUrl}} alt="regal" class="currency-icon-sm">
                {{t 'components.page.vendor_recipe_page.item_count' count=chaosRecipe.boots.itemRegalCount}}
              </span>
            </div>
          </div>
        </div>

        <div class="mt-2 card">
          <div class="card-body">
            <h5 class="card-title">
              {{t 'components.page.vendor_recipe_page.summary'}}
            </h5>
            <span class="quantity mr-1">
              {{chaosRecipe.summary.recipeCount}}
            </span>
            {{fa-icon 'times'}}
            <img src="assets/images/regal-chaos.png" alt="chaos/regal" class="currency-icon ml-1">
          </div>
        </div>
      </div>
    </div>
  {{/pow-task-load-container}}
</div>