<h5>
  {{t "components.dashboard_widget.vendor_chaos_recipe.title"}}
</h5>

{{#if this.isRateLimited}}
  <div class="alert alert-danger mb-1">
    <p class="mb-1">
      {{t "components.dashboard_widget.vendor_chaos_recipe.rate_limited_error"}}
    </p>

    <p class="m-0">
      {{t "components.dashboard_widget.vendor_chaos_recipe.rate_limited_error_description"}}
    </p>
  </div>
{{else}}
  <div class="row mb-1">
    {{#each this.chaosRecipeSlots as |chaosRecipeSlot|}}
      <div class="col-4">
        <div class="card text-center {{if chaosRecipeSlot.isDanger "bg-danger" (if chaosRecipeSlot.isWarning "bg-warning")}}">
          <p class="text-capitalize m-0">
            {{chaosRecipeSlot.slot}}
          </p>

          <p class="lead font-weight-bold m-0">
            {{chaosRecipeSlot.recipeCount}}
            {{fa-icon "times"}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
