{{#each maps as |map|}}
  <li
    class="item {{if (eq currentMap map) 'active'}}"
    style={{css-offset map.offsetLeft map.offsetTop}}
    data-toggle="popover"
    data-title={{map.name}}
    data-content={{t 'components.atlas.popover_content' tier=map.tier level=map.areaLevel}}
    {{action onMapClick map on='click'}}
  >
    <img
      class="item-map"
      src={{map.imageUrl}}
      alt={{map.name}}
    >
  </li>
{{/each}}