{{#each maps as |map|}}
  <li
    class="atlas-maps__item {{if (eq currentMap map) 'atlas-maps__item--active'}}"
    style={{css-offset map.offsetLeft map.offsetTop}}
    {{action onMapEnter map on='mouseEnter'}}
    {{action onMapLeave on='mouseLeave'}}
    {{action onMapClick map on='click'}}
  >
    <img
      class="atlas-maps__item-map"
      src={{map.imageUrl}}
      alt={{map.name}}
    >
  </li>
{{/each}}